<h1>products:</h1>


<% @products.each do |product| %>
<div class="card container" style="width: 18rem;">
<img src="https://placeimg.com/640/480/tech" class="card-img-top" alt="tech">
<%= link_to product_path(product.id),class:'product' do%>
<h2 class="card-title"><%=product.title%></h2>
<% end %>
<span class="card-text"><%=product.price%>$</span>

</div>
<br />
<% end %>
